body{
    font-family: Segoe UI , sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #0d1117;
}
.titre{
    font-size: clamp(1rem,5rem + 2.5vw,10rem);
    font-weight: bold;
    color: #e6edf3;
    text-align: center;
    width: 100%;
}
.numero{
    font-size: clamp(1rem,2rem + 50vw,100rem);
    color: #39d353;
    text-align: center;
    margin-top: 10vh;
    width: 100%;
}